@charset "ISO-8859-1";
.box-center {
	align-items: center;
	justify-content: center;
}

.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.demo-layout-transparent {
	background-color: #006be5;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
	/*White text for black BG, 87% black if white layout*/
	color: white;
}

.mdl-grid.center-items {
	justify-content: center;
}